$secondaryFont: 'Raleway', sans-serif;
$primaryFont: 'Rubik', sans-serif;
$headingsFont: 'Rubik Mono One', sans-serif;

$mainColor: #2F2C2B;
$invertMainColor: #FFFFFF;

$primaryColor: #E09165;
$textColor: $mainColor;
$secondaryTextColor: #777676;
$siteBg: #F5F5F5;
$iconColor: #DAD5D2;
$linkColor: #65A5E0;
$errorColor: #C14A4A;

$buttonBg: $mainColor;
$outline: 2px solid $linkColor;
$buttonBgHover: #3c3836;
$buttonText: $invertMainColor;
$iconButtonBg: $invertMainColor;

$formBg: $invertMainColor;
$tabsBg: $invertMainColor;
$sidebarBg: $invertMainColor;

$headerBg: $invertMainColor;
$headerShadow: 0px 0px 10px rgba($mainColor, 0.15);

$borderRadius: 2px;
$inputHeight: 38px;
$buttonHeight: 38px;
$headerHeight: 70px;
$transitionMs: 0.3s;