@import '../../styles/vars.scss';

.h1 {
  font-size: 22px;
  font-weight: 700;
  font-family: $headingsFont;
  color: $textColor;
  margin: 0;
}

.h2 {
  font-weight: 700;
  font-size: 20px;
  font-family: $primaryFont;
  color: $textColor;
  margin: 0;
}

.h3 {
  font-weight: 500;
  font-size: 16px;
  font-family: $primaryFont;
  color: $textColor;
  margin: 0;
}

.small {
  font-size: 14px;
  font-weight: 400;
  font-family: $secondaryFont;
  color: $secondaryTextColor;
  margin: 0;
}

.p {
  font-size: 16px;
  font-weight: 400;
  font-family: $secondaryFont;
  color: $textColor;
  margin: 0;
}