@import '../../../styles/vars.scss';

menu {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
    .list_item_text {
      padding: 12px 10px;
      display: flex;
      align-items: center;
      font-size: 18px;
      .list_icon {
        margin-right: 15px;
      }
      .text {
        flex: 1;
      }
    }
    .basket {
      font-size: 18px;
      font-weight: 700;
    }
}
.divider {
  background-color: $menuDivider;
  border-radius: 2px;
  height: 1px;
  width: 100%;
}

.dropdown {
  .arrow {
    transition: all $transitionMs;
  }
  .arrow_up {
    transform: rotate(180deg);
    transition: all $transitionMs;
  }
  ul {
    margin: 0;
    padding-left: 34px;
  }
  li {
    font-weight: 400;
    font-size: 16px;
    .active_link {
      font-weight: 700;
    }
    .link {
      padding: 7px 15px;
      display: block;
    }
  }
}