@import '../../styles/vars.scss';

.tabs {
  display: flex;
  justify-content: space-between;
}

.filter-tab {
  color: $textColor;
}

.select {
  background-color: $iconButtonBg;
  border: none;
  height: $buttonHeight;
  border-radius: $borderRadius;
  padding: 0 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  &:first-letter {
    text-transform: uppercase;
  }

  &__text {
    margin-right: 40px;
  }
  
  &:focus {
    box-shadow: none;
  }
}

.result {
  background-color: $iconButtonBg;
  padding: 15px;
}

.select__arrow {
  transition: all $transitionMs;
  &_up {
    transform: rotate(180deg);
  }
}

.tab_active {
  border-radius: $borderRadius $borderRadius 0 0!important;
}
.tab_inactive {
  opacity: 0.5;
}

.catLink {
  display: block;
  padding: 7px;
  color: inherit;
  border-bottom: 1px solid $siteBg;
  text-decoration: none;
  &:last-child {
    border-bottom: none;
  }
  &:first-letter {
    text-transform: uppercase;
  }
}

.activeCatLink {
  @extend .catLink;
  font-weight: 700;
}

