@import '../../styles/vars.scss';

.sidebar {
  width: 100%;
  height: 100vh;
  z-index: 100;
  background-color: $sidebarBg;
  position: fixed;
  bottom: 0;
  top: 0;
  transform: translateX(-100%);
  transition: all .4s;
  will-change: transform;
}
.open {
  transform: translateX(0);
}

.head {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $headerHeight;
}

.close-btn {
  color: $iconColor;
}

.logo {
  color: $primaryColor;
}

.content {
  padding: 0 15px;
}

.auth {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 29px;
  margin-bottom: 39px;
  &__login {
    max-width: 135px;
  }
  &__user {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
  }
  .username {
    margin-left: 13px;
  }
}